{% extends "@styles/backend/layout.html.twig" %}
{% block admin_sidebar %}
		<li class="nav-item"> <a class="nav-link {% if sub_menu == 'list' %} active{% endif %}" href="{{admin_url}}widget">{{ 'widget list'|trans}}</a></li>
		<li class="nav-item"> <a class="nav-link {% if sub_menu == 'add' %} active{% endif %}" href="{{admin_url}}widget/add">{{ 'create a widget'|trans}}</a></li>
{% endblock %}
{% block body %}
	<h2>{{ 'widget list'|trans}}</h2>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">You can use the widgets system almost anywhere within the Content using this syntax '&#123;&#123; widget('&lt;name&gt;') &#125;&#125;' </div>
            </div>
                <br />
            <div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>{{ 'name'|trans}}</th>
					<th>{{ 'actions'|trans}}</th>
				</tr>
			</thead>
			<tbody>
				{% for widget in widgets%}
				<tr>
					<td>{{ widget.name }}</td>
					<td>
						
						<a href="{{admin_url}}widget/edit/{{widget.id}}"><i class="fa fa-edit"></i></a>
						<a href="{{admin_url}}widget/delete/{{widget.id}}"><i class="fa fa-remove"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
            </div>
{% endblock %}