{% extends "@styles/backend/layout.html.twig" %}

{% block admin_sidebar %}
    <li class="nav-item"><a class="nav-link{% if sub_menu == 'list' %} active{% endif %}" href="{{admin_url}}users">{{ 'user.list'|trans}}</a></li>
    <li class="nav-item"><a class="nav-link{% if sub_menu == 'add' %} active{% endif %}" href="{{admin_url}}users/add">{{ 'create.account'|trans}}</a></li>
    {% endblock %}
    {% block body %}
    <div class="card">
        <div class="card-header">{{ 'user.list'|trans}}</div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'first.name'|trans}}</th>
                            <th>{{ 'last.name'|trans}}</th>
                            <th>{{ 'username'|trans}}</th>
                            <th>{{ 'actions'|trans}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users%}
                            <tr>
                                <td>{{ user.FirstName }}</td>
                                <td>{{ user.LastName }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    <a href="{{admin_url}}users/password-reset/{{user.id}}"><i class="fa fa-key"></i></a>
                                    <a href='{{admin_url}}users/role/{{user.id}}'><i class="fa fa-cog" aria-hidden="true"></i></a>
                                    <a href="{{admin_url}}users/edit/{{user.id}}"><i class="fa fa-edit"></i></a>
                                    <a href="{{admin_url}}users/delete/{{user.id}}"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}