{% extends '@styles/layout.html.twig' %}

{% block body %}
    <h1>{{title | trans}}</h1>
    <div id="gallery">
        {% for image in images %}
            <a href="{{asset(image.filename, 'gallery')}}" data-lightbox="image-1" data-title="{{image.description}}"><img class="gallery" src="{{asset(image.filename, 'gallery') }}" width="150" height="100" /></a>
        {% endfor %}
    </div>
    <div id="paginator">
        {{ knp_pagination_render(images) }}
    </div>
{% endblock %}
