{% extends "@styles/layout.html.twig" %}

{% set title = post.title %}
{% block body %}
    <div class="pull-right publish">{{'published.date'|trans }} {{ post.date | date(time_format,timezone) }}</div>
    <h1>{{post.title}}</h1>
	{{post.post|raw}}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <hr />
            {{ render(controller('CMS:Comment:getForm', { 'type': type, 'id': post.id, 'route': redirect })) }}
        {% endif %}
        {{ render(controller('CMS:Comment:getComments', { 'type': type, 'id': post.id, 'route': redirect })) }}
{% endblock %}
