{% extends '@styles/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-7 portfolio-item_1col">
            <a href="#">
                <img class="img-fluid img_border" src="{{ asset(project.image, 'portfolio') }}" alt="Your Title">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{ project.name }}</h3>
            {% if project.subheader != '' %}<h4>{{ project.subheader }}</h4>{% endif %}
            <p>{{ project.description }}</p>
            <p>{{ project.budget }}$</p>
            <p>{{ project.date.date | date('F Y', timezone) }}</p>
        </div>
    </div>
{% endblock %}
